@font-face {
    font-family: 'kyivtype_titlingbold2';
    src: url('kyivtypetitling-bold2-webfont.woff2') format('woff2'),
         url('kyivtypetitling-bold2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'kyivtype_titlingmedium';
    src: url('kyivtypetitling-medium-webfont.woff2') format('woff2'),
         url('kyivtypetitling-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'kyivtype_titlingmedium2';
    src: url('kyivtypetitling-medium2-webfont.woff2') format('woff2'),
         url('kyivtypetitling-medium2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'kyivtype_titlingmedium3';
    src: url('kyivtypetitling-medium3-webfont.woff2') format('woff2'),
         url('kyivtypetitling-medium3-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'kyivtype_titlingregular';
    src: url('kyivtypetitling-regular-webfont.woff2') format('woff2'),
         url('kyivtypetitling-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'kyivtype_titlingregular2';
    src: url('kyivtypetitling-regular2-webfont.woff2') format('woff2'),
         url('kyivtypetitling-regular2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}