.field__label {
  display: inline-block;
  margin-bottom: 4px;

  font-family: 'Prompt';
  font-size: 16px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--accent-color);
}

.field {
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0;
  }
}

.field__wrapper {
  display: flex;
}

.field__input {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40px;
  padding: 5px 0px 5px 12px;

  outline: none;

  font: inherit;
  border: 2px solid var(--accent-color);
  border-radius: 15px 0px;
  background-color: inherit;

  transition: transform var(--time-of-animation) var(--timing-function);

  &:focus {
    transform: scale(1.05);
  }

  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}

.field__textarea {
  padding: 10px 15px;
  height: 120px;

  display: flex;
  flex-direction: column;
  width: 100%;
  outline: none;

  align-items: center;

  font: inherit;
  border: 2px solid var(--accent-color);
  border-radius: 15px 0px;
  background-color: inherit;

  transition: transform var(--time-of-animation) var(--timing-function);

  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }

  &:focus-within {
    transform: scale(1.05);
  }
}

.modal-form-message {
  margin-top: 100px;
  text-align: center;
  display: none;
  & h2 {
    @extend %label;
    margin-bottom: 20px;
  }

  & p {
    font-family: 'Prompt';
    font-size: 20px;
    line-height: 1.17;
  }
}
