.projects__label {
  @extend %label;
}

.projects-list {
  margin-top: 30px;
  @media screen and (min-width: 768px) {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }
}

.projects-list__item {
  transition: transform var(--time-of-animation) var(--timing-function);
  &:hover,
  &:focus {
    transform: scale(1.02);
  }
}

#project-1 {
  &::after {
    content: 'АЙДЕНТИКА ТА ЛОГО';
    @extend %text-for-card;
  }
}

#project-2 {
  &::after {
    content: 'ПАКОВАННЯ';
    @extend %text-for-card;
  }
}

#project-3 {
  &::after {
    content: 'ТИПОГРАФІКА ТА ШРИФТИ';
    @extend %text-for-card;
  }
}

#project-4 {
  &::after {
    content: 'ПОСТЕРИ';
    @extend %text-for-card;
  }
}

#project-5 {
  &::after {
    content: 'UX/UI DESIGN';
    @extend %text-for-card;
  }
}

#project-6 {
  &::after {
    content: 'АНІМАЦІЯ';
    @extend %text-for-card;
  }
}

.projects-list__link {
  position: relative;
  display: block;
  width: 100%;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;

    background-color: var(--muted-banner-color);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
  }
}

%text-for-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;

  -webkit-align-self: center;
  align-self: center;
  text-align: center;
  color: var(--banner-text-color);
  font-size: 38px;

  @media screen and (min-width: 768px) {
    font-size: 27px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 44px;
  }
}

.slick-slider {
}

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track {
  display: flex;
}
/* Слайд */

.projects-list .slick-arrow {
  display: none !important;
}

/* Точки (булиты) */
.projects-list .slick-dots {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.projects-list .slick-dots li {
  cursor: pointer;
  padding: 0;
  border: 1px solid var(--accent-color);
  background-color: transparent;

  width: 10px;
  height: 10px;
  border-radius: 50%;
}

/* Активная точка */
.projects-list .slick-dots li.slick-active {
  background-color: var(--accent-color);
  border-radius: 50%;
}
/* Элемент точки */
.projects-list .slick-dots li button {
  font-size: 0;
  border: none;
  background-color: transparent;
}
