@font-face {
  font-family: 'kyivtype_titlingbold2';
  src: url('../font/kyivtypetitling-bold2-webfont.woff2') format('woff2'),
    url('../font/kyivtypetitling-bold2-webfont.woff') format('woff'),
    url('../font/kyivtypetitling-bold2-webfont.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'kyivtype_titlingmedium';
  src: url('../font/kyivtypetitling-medium-webfont.woff2') format('woff2'),
    url('../font/kyivtypetitling-medium-webfont.woff') format('woff'),
    url('../font/kyivtypetitling-medium-webfont.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'kyivtype_titlingmedium2';
  src: url('../font/kyivtypetitling-medium2-webfont.woff2') format('woff2'),
    url('../font/kyivtypetitling-medium2-webfont.woff') format('woff'),
    url('../font/kyivtypetitling-medium2-webfont.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'kyivtype_titlingmedium3';
  src: url('../font/kyivtypetitling-medium3-webfont.woff2') format('woff2'),
    url('../font/kyivtypetitling-medium3-webfont.woff') format('woff'),
    url('../font/kyivtypetitling-medium3-webfont.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'kyivtype_titlingregular';
  src: url('../font/kyivtypetitling-regular-webfont.woff2') format('woff2'),
    url('../font/kyivtypetitling-regular-webfont.woff') format('woff'),
    url('../font/kyivtypetitling-regular-webfont.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'kyivtype_titlingregular2';
  src: url('../font/kyivtypetitling-regular2-webfont.woff2') format('woff2'),
    url('../font/kyivtypetitling-regular2-webfont.woff') format('woff'),
    url('../font/kyivtypetitling-regular2-webfont.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
