:root {
  --bg-color: #fefaf1;
  --text-color: #474747;
  --color-black: #252525;
  --color-white: #ffffff;
  --accent-color: #ce4e1a;

  --muted-banner-color: rgba(104, 104, 104, 0.35);
  --banner-text-color: #fff8e5;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --time-of-animation: 250ms;
}
